.bgwhite{
  h3{
    font-size:36px;
    text-align:left ;
    color:#397d7d;
  }
} 
.bgskyblue{
  h3{
    font-size:36px;
    color:#333;
  }
  h5{
    background: url("../images/arrow_blue.png") no-repeat scroll 184px 31px transparent;
color: #00485F;
font-size: 20px;
padding-bottom: 27px;
position: relative;
text-align: center;
width: 475px;
top: 35px;
   
  }  
 .imgcontainer{
   width:500px;
   margin:0 auto;
 }
}
.bgblue{
  h3{
    font-size:36px;
    color:#333;
  }
  .imgcontainerblue{
    width:700px;
   margin:0 auto;
  }
   h5{
    background: url("../images/arrow_blue.png") no-repeat scroll 184px 31px transparent;
color: #00485F;
font-size: 20px;
padding-bottom: 27px;
position: relative;
text-align: center;
width: 475px;
top: 35px;
   
  }  
}
.align{
  text-align:center;
}
h4{
  font-size:24px;
  color:#333;
 
}
